@model Labixa.Models.RegisterViewModel
@{
    ViewBag.Title = "RegisterAccount";
    Layout = "~/Views/Shared/_LayoutAuthor.cshtml";
}
<div id="de-sidebar" class="col-lg-3 col-md-12">

    <!-- header begin -->
    <header class="side-header">

        <!-- small button begin -->
        <span id="menu-btn"></span>
        <!-- small button close -->
        <!-- logo begin -->
        <div id="logo">
            <a href="">
                <img class="logo" src="~/Content/stone/Logo/GEMS-01-01.png" alt="" width="150" height="150">
                <img class="logo-2" src="~/Content/stone/images/logo-border.png" alt="">
            </a>
        </div>
        <!-- logo close -->
        <!-- mainmenu begin -->
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "formSignup" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 registerbody ">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tài Khoản*" })<br>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật Khẩu*" })<br>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email*" })<br>
                </div>
            </div>

            <div class="row" style="float:right">
                <button type="button" class="btn btn-warning securesignup" onclick="SignUp()" id="securesignup">Tạo Tài Khoản</button>

            </div>
        }
        <div class="h-content">
            <div class="social-icons-2">
                <a href="https://www.facebook.com/Trang-s%E1%BB%A9c-Gems-Tek-105273135036909/?ref=page_internal"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                <a href="#"><i class="fa fa-rss fa-lg"></i></a>
            </div>
        </div>


    </header>
</div>
@section Scripts {
    <script>
        //var modal = document.getElementById("myModal");
        //modal.style.display = "block";
        function SignUp() {
            $('#securesignup').attr("disabled", "disabled").css("cursor", "default").fadeTo(500, 0.2);
            $("#securesignup").last().html("Please wait...");
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
            $("#formSignup").submit();
            //var checkTerm = document.getElementById("exampleRadios5").checked;
            //if (checkTerm) {
            //    $('#securesignup').attr("disabled", "disabled").css("cursor", "default").fadeTo(500, 0.2);
            //    $("#securesignup").last().html("Please wait...");
            //    var modal = document.getElementById("myModal");
            //    modal.style.display = "block";
            //    $("#formSignup").submit();
            //} else {
            //    alert("Please checked the checkbox of Term and Condition");
            //}
        }
    </script>
}